# LLM Config
REASONING_MODEL:
  model: "doubao-1-5-thinking-pro-250415"
  api_key: xxxx
  base_url: https://ark.cn-beijing.volces.com/api/v3

BASIC_MODEL:
  model: "doubao-1-5-pro-32k-250115"
  api_key: xxxx
  base_url: https://ark.cn-beijing.volces.com/api/v3

VISION_MODEL:
  model: "doubao-1.5-vision-pro-250328"
  api_key: xxxx
  base_url: https://ark.cn-beijing.volces.com/api/v3
